<div class="row">
    <h1>Search Query:{{ search_query }} Limit:'{{ limit }}'</h1>
    {% for artist_item in artist_data %}
        <h1>{{ loop.index }}: <a href="{{ artist_item['#artist_page_url'] }}">{{ artist_item['#artist_name'] }}</a></h1>
    {% endfor %}
</div>