<div class="row">
    <h1>Artist page twig</h1>
    <h1>Artists Name:{{ artistsName }}</h1>
    <div>Spotify Artist ID: {{ spotifyArtistId }}</div>
    <div><img src="{{ imgUrl }}" alt="{{ artistsName }}"></div>
    <div>type:{{ spotifyType }}</div>
    <div>genres:{{ spotifyGenres }}</div>
    <div>popularity:{{ spotifyPopularity }}</div>
    <a href="{{ externalArtistsUrl }}">{{ externalArtistsUrl }}</a>
</div>